body  {
    background-image:url("../images/charlotte.jpg");
    color: white;
    text-align: center;
}

h1  {
    color: white;
}

#game   {
    background: black;
    color: white;
    margin-left: 550px;
    margin-right: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
}